:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.memory-game {
  border: 1px solid #ccc;
  max-width: 50%;
  margin: 0 auto;
  .game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px 0px black;
    width: 6rem;
    height: 6rem;
    background-color: #f0f0f033;
    font-size: 3rem;
    cursor: pointer;

    transition: transform 0.3s;

    &.flipped {
      transform: rotateY(180deg);
      background-color: #7fffd433;
      box-shadow: -2px 2px 4px 0px black;
    }

    &.matched {
      transition: none;
      background-color: #90ee9033;
    }
  }
}
